{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": ".",
    "paths": {},
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
